.body
{
    background-color: rgb(240, 153, 23);
    display: flex;flex-direction: column;
}
.table
{
    width: 100%; 
    height: 100%;
}
.t1
{
    background-color: antiquewhite;
    height: 100vh; 
    width: 50%;
}
.h2
{
    color: red;
}
.t2
{
    background-color: brown;
    height: 100vh;
}